<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!--/*@thymesVar id="uuid" type="java.util.UUID"*/-->

<head>
    <div th:replace="fragments/head"></div>

    <title th:text="#{no_task_h}"></title>
</head>

<body>
<div class="content">
    <main>
        <h1><span th:text="#{no_task_h}"></span>
        <span th:text="${{uuid}}"></span></h1>
        <p th:text="#{no_task_why}"></p>
        <p class="extra-info"><span th:text="#{task_uuid_colon}"></span><span th:text="${uuid}"></span></p>
    </main>
    <aside>
        <p><a th:href="@{/tasks}" th:text="#{back_to_tasks}"></a></p>
        <p><a th:href="@{/}" th:text="#{home}"></a></p>
    </aside>
</div>
</body>
