<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <div th:replace="fragments/head"></div>

    <title>Edit task</title>
</head>

<body>
<div class="content">
    <div th:replace="fragments/header"></div>
    <main>
        <h1>Edit task</h1>
        <form th:action="@{/tasks/edit/{slug}(slug=${{task.uuid}})}" method="post" th:object="${task}">
            <div th:replace="fragments/task-form-fields"></div>
            <div>
                <button>Edit task</button>
            </div>
        </form>
    </main>
</div>
</body>

</html>