<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <div th:replace="fragments/head"></div>

    <title>Create task</title>
</head>

<body>
<div class="content">
    <div th:replace="fragments/header"></div>
    <main>
        <h1>Create task</h1>
        <form th:action="@{/tasks/create}" method="post" th:object="${task}">
            <div th:replace="fragments/task-form-fields"></div>
            <div>
                <button>Create task</button>
            </div>
        </form>
    </main>
</div>
</body>

</html>
