<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<header th:fragment="header">
    <nav>
        <ul>
            <li><a th:href="@{/}" th:text="#{home}"></a></li>
            <li><a th:href="@{/tasks}" th:text="#{tasks}"></a></li>
            <li><a th:href="@{/tasks/create}" th:text="#{create_task}"></a></li>
            <li th:unless="${#locale.language == 'nl'}">
                <a href="?lang=nl">nl</a>
            </li>
            <li th:unless="${#locale.language == 'en'}">
                <a href="?lang=en">en</a>
            </li>
        </ul>
    </nav>
</header>

</html>
