
/* General */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: left;
}

.content {
    margin-left: 1rem;
    margin-top: 1rem;
    max-width: 40rem;
}


/* Header */

/**/


/* Text style */

/**/


/* Form */

form > div {
    margin-bottom: 1rem;
}

nav > ul {
    padding-left: 0;
    overflow: auto;
    list-style: none;
}

nav > ul > li {
    float: left;
    margin-right: 1rem;
}

form > div > input, form > div > textarea {
    display: block;
}


/* Header */

nav > ul {
    padding-left: 0;
    overflow: auto;
    list-style: none;
}

nav > ul > li {
    float: left;
    margin-right: 1rem;
}


/* Exception */

.extra-info {
    font-style: italic;
}
