<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <div th:replace="fragments/head"></div>

    <title th:text="#{app_name_h}"></title>
</head>

<body>
<div class="content">
    <div th:replace="fragments/header"></div>
    <main>
        <h1 th:text="#{app_name_h}"></h1>
        <ul>
            <li><a th:href="@{/tasks}" th:text="#{tasks_h}"></a></li>
            <li><a th:href="@{/tasks/create}" th:text="#{create_task_h}"></a></li>
        </ul>
    </main>
</div>
</body>

</html>
